*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:hsl(356, 100%, 66%);
}


.inner-login-page{
    padding:7%;
    background-color:white;
    width:40%;
    border-radius:3%;
}

sup{
    color:red;
}
input{
        width:100%;
        margin:2%;
        padding:3%;
        border-radius:10px;
}
#email{
    margin-bottom:5%;
}
#password{
    margin-bottom: 5%;
}

h2{
    margin-bottom: 5%;
}
#submit{
    border:none;
    background-color:hsl(356, 100%, 66%);
    
}

#submit:hover{
    background-color: hsl(353, 100%, 62%);
    
}

